:root {
    --hundred-percent: 100%;
    --eighty-percent: 80%;
    --half-percent: 50%;
    --glow: calc(100% + 4px);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: .2s;
    border: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #CFCFCF;
    background-color: #111;
    width: var(--hundred-percent);
    height: 100vh;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(../imgs/estrelas.svg);
    width: var(--hundred-percent);
    height: var(--hundred-percent);
}

main {
    height: var(--hundred-percent);
    position: relative;
    overflow: hidden;
}

a {
    color: inherit;
    display: block;
}

footer {
    position: absolute;
    width: var(--hundred-percent);
    bottom: .4rem;
    left: 0;
    text-align: center;
    color: #353535;
    font-family: Ruluko;
    font-size: 1rem;
    text-transform: lowercase;
    text-decoration: underline;
}

footer:hover {
    color: red;
}