.scenario {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

.lTree,
.rTree {
    position: absolute;
    height: 100%;
    top: 0;
}

.rTree,
.lTree,
.moon,
.moon::after,
.moon::before {
    transition: all 1s;
}

.lTree {
    left: 0;
}

.rTree {
    right: 0;
}

.moon {
    position: absolute;
    margin: auto;
    top: .5rem;
    left:50%;
    transform: scale(.5);
    cursor: pointer;
}

.moon::after{
    content: '';
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background-color: white;
    top: -2px;
    left: -2px;
    filter: blur(100px);
}

.moon::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../imgs/scenario/ghost.svg);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    border-radius: 50%;
    opacity: 0;
    z-index: 1;
}

.moon:hover::before {
    opacity: 1;
}

@media (max-width: 1000px) {
    .rTree {
        transform: translateX(10%);
    }

    .lTree {
        transform: translateX(-10%);
    }

    .moon {
        transform: scale(.8);
    }
}

@media (max-width: 700px) {
    .rTree {
        transform: translateX(30%);
    }

    .lTree {
        transform: translateX(-20%);
    }

    .moon {
        transform: scale(1);
    }
}

@media (max-width: 600px) {
    .rTree {
        transform: translateX(50%);
    }

    .lTree {
        transform: translateX(-30%);
    }
    .moon {
        transform: scale(1.2);
    }
}

@media (max-width: 500px) {
    .rTree {
        transform: translateX(80%);
    }

    .lTree {
        transform: translateX(-40%);
    }
    .moon {
        transform: scale(1.4);
    }
}