.menu {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding: 0.5rem 0;
}

.stat {
    background-color: var(--cor3);
    display: flex;
    gap: .5rem;
    padding: .5rem 1rem;
    border-radius: 2rem;
}

.footerPlay {
    padding: .75rem 1rem;
}

@media (max-width: 600px) {
    .menu {
        width: 100%;
        justify-content: space-between;
        gap: .5rem;
    }
    .stat {
        font-size: .85rem;
    }
    .footerPlay {
        padding: .5rem;
    }
}