.panel {
    max-width: 28rem;
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(3, 1fr);
}

.panel-row {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.panel .square {
    background-color: var(--cor3);
    min-height: 7rem;
    max-width: 9rem;
    border-radius: .2rem;
    cursor: pointer;
}

.panel .square.enemy{
    background: var(--cor3) url(../../assets/imgs/global/pumpkin.svg) no-repeat center;
    transition: .1s;
}

.panel .square.enemy:active{
    opacity: .3;
    background-color: var(--cor1);
}

@media (max-width: 600px) {
    .panel .square {
        min-height: 5rem;
        max-width: 8rem;
    }
}