footer  {
    z-index: 2;
}

.moon {
    z-index: 1;
}

.countdown {
    z-index: 0;
}

.lTree{
    z-index: -1;
}

.moon::before{
    z-index: 1;
}

body::after {
    z-index: -3;
}

@media (max-width:800px) {
    .rTree{
        z-index: 2;
    }
    .countdown {
        z-index: 3;
    }    
}