.footer {
    width: 100%;
    text-align: center;
    color: #353535;
    font-family: 'Ruluko';
    font-size: 1rem;
    text-transform: lowercase;
    text-decoration: underline;
    padding: .25rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

footer a:hover {
    color: #ff0000;
    opacity: .6;
}

.footer a img {
    width: 16px;
    height: 16px;
}